
.vw-100 {
    width: 100vw !important
}

.vw-sidenav {
    width: 14vw !important
}

.vh-100 {
    height: 100vh !important
}

.vh-navbar {
    height: 6vh !important
}

.vh-footer{
    height: calc(100vh - 56px) !important
}

.vh-body{
    height: 96vh !important
}

.special-color{
    background-color: #1c2331 !important
}